#parentUl {
    font-size: 20px;
    display: block;
    background-color: #fbf2e9;
    height: 250px;
    width: 350px;
}

dd {
    display: block;
}

.my-container {
    background-color: #fbf2e9;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 2px black;
    border-radius: 1px;
    box-shadow: 3px;
    user-select: none;
    font-size: 18px;
}

.my-container li {
    padding: 2px;
}

.my-container li:hover {
    background-color: #ffa984;
}

.my-container .is-selected {
    background-color: #ffa984;
}

.my-container-task3 {
    background-color: #dfc5ab;
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 1px;
    box-shadow: 3px;
    user-select: none;
    font-size: 18px;
    position: relative;
    box-sizing: border-box;
    /* resize: both; */
}

.my-container-task3 p {
    margin: 10px;
}

.box-container-task3 {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #5a6067;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    cursor: nwse-resize;
    z-index: 10;
}